.parallax {
  background-image: url(../../Assets/Parallax/programando3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.text_style_services {
  color: #EEEEEE;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.card {
  opacity: 0.85;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.card-body {
  padding: 20px;
}


.title_ser{
  font-weight: bold;
}
.p_style_text{
color: #EEEEEE;
}

@media screen and (max-width: 768px) {
  .text_style_services {
    font-size: 20px;
  }

  .parallax {
    background-image: url(../../Assets/Parallax/programando3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }

  .card-body {
    padding: 15px;
  }
}
