.footer {
    color: #eeeeee;
    font-family: Arial, sans-serif;
  }
  
  .footer-logo {
    width: 150px;
  }
  
  .footer-social {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .footer-social a {
    color: #eeeeee;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #7aa5d2;
    font-size: 2rem;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper {
    flex: 1;
  }
  